
.ExecBoard {
    border: 5px ridge gold;
    width: 25%;
    box-shadow: 5px 5px 5px grey;
}

.ExecBoard-h {
    text-decoration: underline;
    padding-bottom: 10px;
}

.ExecBoard-p {
    padding: 15px;
}